/*font-family: 'Raleway', sans-serif;*/
/*font-family: 'Comfortaa', cursive;*/

.account-status-block {
    display: flex;
    flex-direction: row;
    /*justify-content: flex-end;*/
    font-family: 'Comfortaa', cursive;
}

.account-status-block > span {
    display: flex;
    flex-direction: column;
}

.account-status-block > span:first-child {
    margin-right: 0.6em;
    padding-right: 0.6em;
    border-right: 1px solid lightgray;
}

.account-status-block .agent-block .balance-block {
    display: flex;
    flex-direction: column;
}
.account-status-block .info {
    font-size: smaller;
    color: #7c7c7c;
}
.account-status-block .accounting-info {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    position: relative; /* for animation */
}

.balance {
    font-family: 'Raleway', sans-serif;
}
.balance.good-standing {
    color: forestgreen;
}
.balance.warning {
    color: #b9872a;
}
    .balance.danger {
    color: #a94442;
}

.account-status-block .community-share-block {
    flex-direction: column;
}
/*.agent-balance > span {*/
    /*display: flex;*/
/*}*/

.account-status-block label {
    margin-right: 1em;
}

.account-status-block .balance-animation {
    animation: balance-animation-keyframes 1s ease-out;
}

@keyframes balance-animation-keyframes {
    from {
        position: absolute;
        right: 0;
        background-color: white;
    }
    10% {
        color: orange;
        font-weight: bold;
        font-size: 2em;
    }
    30% {
        color: orange;
    }
    to {
        position: absolute;
        right: 0;
        background-color: white;
    }
}