@import '../utils/style-utils';

.avatar {
  height: 30px;
  display: inline-flex;

  img {
    height: 100%;
  }
}

.btn {
  font-family: 'Raleway', serif;
}

.agent-name {
  @include headings-font;
}
