@mixin headings {
  h1, h2, h3,
  h4, h5, h6 {
    @content;
  }
}

.tutorial-screen {
  @include headings {
    font-family: Comfortaa, 'sans-serif';
    text-align: left;
  }
  font-family: Raleway, 'serif';
  text-align: justify;

  .balance-img-container {
    text-align: center;
    img {
      max-width: 100%;
    }
  }

  .highlight {
    font-style: italic;
  }
}

.plenty-word, .thanks-word {
  font-family: Comfortaa, 'sans-serif';
  font-weight: bold;
}

.plenty-word {
  color: #255ec3;
}

.thanks-word {
  color: forestgreen;
}