@import '../../utils/style-utils';

.tutorial-screen {
  @include headings {
    font-family: Comfortaa, 'sans-serif';
    text-align: left;
  }
  font-family: Raleway, 'serif';
  font-size: 1.2em;
  text-align: justify;

  .balance-img-container {
    text-align: center;
    img {
      max-width: 100%;
    }
  }

  .highlight {
    font-style: italic;
  }
}

.plenty-word, .thanks-word {
  font-family: Comfortaa, 'sans-serif';
  font-weight: bold;
}

.plenty-word {
  color: #255ec3;
}

.thanks-word {
  color: forestgreen;
}

.introjs-hint-pulse {
  border-color: rgba(255, 0, 0, 0.71) !important;
}

.introjs-hint-dot {
  border-color: #ff7a00 !important;
}

.introjs-hint {
  z-index: 10000;
}