@import '../utils/style-utils';

.signup__content {
  @include headings {
    font-family: Comfortaa, 'sans-serif';
  }
}

#createTeam {
  background-color: orange !important;
  color: rgb(15, 95, 156);
}