@import '../utils/style-utils';

.signup__content {
  @include headings {
    font-family: Comfortaa, 'sans-serif';
  }
}

#createTeam {
  background-color: orange !important;
  color: rgb(15, 95, 156);
  & > span {
    white-space: normal;
  }
}

.give-button-wrapper {
  margin-right: 0.5em;
}

.tutorial__steps {
  padding-top: 2em;
}